body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.app-root {
  width: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.listing-main {
  width: 24rem;
  height: auto;
  border-radius: 1.5rem;
  padding: 1rem;
  margin: 5px;
  border: 1px solid rgb(243 244 246/1);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.posted-date {
  width: 50%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid rgb(229 231 235 /1);
  font-size: 0.875rem;
  line-height: 1.25rem;

  border-radius: 9999px;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  display: flex;
  gap: 0.25rem;

}

.posted-date-img {
  width: 0.75rem;
  height: 0.75rem;
  margin-top: 0.25rem;
}

.listing-info {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.company-logo {
  height: 4rem;
  width: 2.5rem;
  background-color: rgb(229 231 235/1);
  border-radius: 0.5rem;
}

.company-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.company-name {
  color: rgb(156 163 175 / 1);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 0.25rem;
}

.job-title-container {
  display: flex;
  gap: 0.25rem;
}

.job-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.checkmark {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 0.25rem;
}

.job-location {
  font-weight: 700;
  color: rgb(75 85 99 /1);
}

.estimated-salary {
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.1rem;
}

.job-description-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 10px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.show-description {
  height: 350px;
}
.hide-description {
  height: 13rem;
}

.job-description-content {
  height: 100%;
  width: 100%;
  text-align: justify;
  overflow: clip;
}

.job-description-overlay {
  height: 100%;
  width: 100%;
  transform: translateY(-100%);
  
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.show-overlay {
  background-image: linear-gradient(to bottom, transparent, white);
}
.hide-overlay {
    background-image: linear-gradient(to bottom, transparent, transparent);
}

.view-job {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  cursor: pointer;
  color: rgb(37 99 235 / 1 );
  transform: translateY(-1rem);
}

.apply-button {
  cursor: pointer;
  text-align: center;
  background-color:  rgb(84 239 195 / 1);
  border-radius: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: rgb(75 85 99 / 1);
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  display: flex;
  justify-content: center;
  gap: 0.25rem;

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    margin-top: 1rem;
}

.apply-button:hover {
  background-color:  rgb(76 217 177 / 1);
   color: rgb(64, 88, 120);
}

.apply-button:active {
  background-color: rgb(64 181 148 / 1);
}

.flash-img {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 0.25rem;
}
